<li class="question_in_list">
  <span class="q_stat"><%= @q.votes.length %> votes</span>
  <span class="q_stat"><%= @q.answers.length %> answers</span>
  <span class="q_stat"><%= @q.views %> views</span>
  <a href="/questions/<%= @q.id %>"><%= @q.title %></a>
  <div>
  <% @q.tags.each do |tag| %>
  <span class="single_tag"><a href='/tags/<%= tag.id %>'><%= tag.name %></a></span>
  <% end %>
  </div>
  <div id="created_by">Posted on <%= @q.created_at.strftime('%B %e, %Y') %> by <%= @q.user.username %></div>
</li>
