<!-- session[userid] goes here -->
<% if true %>
<a id="new_q_link" href="/questions/new">Ask a question</a>
<% end %>

<main id="question_container" role="main">
  <ul id="question_list">
    <% @qs.each do |q| %>
      <li class="question_in_list">
        <span class="q_stat"><%= q.votes.length %> votes</span>
        <span class="q_stat"><%= q.answers.length %> answers</span>
        <span class="q_stat"><%= q.views %> views</span>
        <a href="/questions/<%= q.id %>"><%= q.title %></a>
        <div>
        <% q.tags.each do |tag| %>
        <span class="single_tag"><%= tag.name %></span>
        <% end %>
        </div>
        <div id="created_by">Posted on <%= q.created_at.strftime('%B %e, %Y') %> by <%= q.user.username %></div>
      </li>
    <% end %>
  </ul>
</main>
