<%if @errors%>
  <ul>
    <%@errors.each do |error| %>
    <li><%error.full_message%></li>
    <%end%>
  </ul>
<%end%>

<h1><%= @q.title %></h1>
<p><%= @q.body %></p>
<p>by: <%= @q.user.username %></p>
<p>posted on: <%= @q.created_at.strftime('%B %e, %Y') %></p>

<% if session['user_id'] == @q.user_id %>
<a href="/questions/<%= @q.id %>/edit">Edit your question</a>
<% end %>

<article id="upvote-container">
  <p><%= @q.votes.length %></p>
  <p>Upvote</p>
  <form method="post" action='/questions/<%= @q.id %>/upvote' class="new-question-vote">
    <button type="submit" name="submit_param" value="submit_value"></button>
  </form>
</article>

<article id="downvote-container">
  <p>Downvote</p>
  <form method="post" action='/questions/<%= @q.id %>/downvote' class="new-question-vote">
    <button type="submit" name="submit_param" value="submit_value"></button>
  </form>
</article>

<p><a href="/questions/<%= @q.id %>/comments/new">Comment on this question</a></p>

<% @comments.each do |comment| %>
  <article class="comment_block"><%= comment.body %> -- <%= comment.user.username %></article>
<% end %>

<% @q.answers.each do |answer| %>
  <div id="answer_container">
    <%= answer.body %>
    <div><%= answer.user.username %></div>
    <div><a href="/answers/<%= answer.id %>/comments/new">Comment on this answer</a></div>

    <% answer.comments.limit(3).each do |comment| %>
      <article class="comment_block"><%= comment.body %> -- <%= comment.user.username %></article>
    <% end %>
    <a href="/questions/<%=@q.id%>/answers/<%= answer.id%>/edit">Edit this answer</a>

    <form id="delete_answer_form" method="post" action="/questions/<%= @q.id %>/answers/<%= answer.id %>">
      <input id="answer_delete" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete answer" class="button">
    </form>
  </div>
<% end %>


<form id="answer_form" method="post" action="/answers">
  <input type="hidden" name="question_id" value=<%=@q.id%> >
  <input id="answer_body" type="text" name="body" placeholder="Answer" required>
  <input type="submit" value="submit your answer">
</form>






